body {
	background-color: #000;
}

#container {   
	position: absolute;
	text-align: center;
	width: 15em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -50%;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(20deg);
	font-size: 100px;
	font-weight: bold;
}


#text {
	position: absolute;
	color: rgb(190, 190, 58);
	animation: scroll;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 30s;
}


@keyframes scroll {
	from { top: 100%; }
	to { top: -10%; }
}
